.home-container {
  display: flex;
  flex-direction: column;
}

.text-input-field {
  padding: 12px;
  border-radius: 7px;
  font-size: 24px;
}

.text-input-field:focus {
  outline: none;
}

.enter-room-button {
  margin-top: 20px;
  padding: 12px;
  font-size: 20px;
  background-color: darkgreen;
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
}
